*,
*::before,
*::after {
  box-sizing: border-box;
}

::root {
  --clr-primary-100: #6f737f;
  --clr-primary-200: #3b4050;
  --clr-primary-400: #2e323f;

  --clr-neutral-100: #ffffff;
  --clr-nuetral-900: #000000;

  /* fonts */
  --ff-primary-400: "Montserrat", sans-serif;
  --ff-primary-500: "Montserrat", sans-serif;
  --ff-accent: "Oswald", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "Montserrat", sans-serif; */
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
button,
a {
  font-family: var(--ff-accent);
}

p {
  font-family: var(--ff-primary-400);
}
