:root {
  --clr-primary-100: #6f737f;
  --clr-primary-200: #3b4050;
  --clr-primary-400: #222737;
  --clr-secondary-200: #a59678;

  --clr-neutral-100: #ffffff;
  --clr-nuetral-900: #000000;

  /* fonts */
  --ff-primary-400: "Montserrat", sans-serif;
  --ff-accent: "Oswald", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--ff-primary-400);
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
button {
  font-family: var(--ff-accent);
}

p {
  font-family: var(--ff-primary-400);
}
.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-neutral-100);
  font-weight: 900;
  background-color: var(--clr-secondary-200);
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}
.header {
  background-color: var(--clr-primary-400);
  padding: 1em 0;
  text-align: center;
}
.hero {
  background-color: var(--clr-primary-200);
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.nav {
  width: 100%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: var(--clr-nuetral-900);
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

/* made changes here from video
   to make it more accessible.
   
   Works the same :) */
.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__list--primary {
  margin-bottom: 2em;
}

.nav__item {
  margin-top: 0.9em;
}
.nav__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.nav__link:hover,
.nav__link:focus {
  opacity: 0.75;
}

.nav__link--button {
  background-color: #fff;
  color: #136c72;
  padding: 0.15em 1em;
  border-radius: 10em;
}

.logo {
  height: 30px;
  display: flex;
  justify-content: center;

  /* come back to this */
}

@media (min-width: 800px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    height: auto;
    position: relative;
    align-items: center;
    justify-content: space-between;

    /*or 
    
    justify-content: flex-end
    */
  }
  .align {
    align-items: center;
  }
  .nav__list {
    display: flex;
    margin: 0;
  }
  .nav__item {
    margin: 0 0 0 1.5em;
  }
  /* .nav__list--primary {
    margin: 0 auto;
  } */

  .row {
    display: flex;
    justify-content: space-between;
  }
}
